{{define "title"}}{{.Title}}{{end}} {{define "styles"}}
<style>
  html,
  body {
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #fff;
  }

  header,
  footer {
    display: none;
  }

  .wrapper {
    text-align: center;
  }

  .content {
    flex: 1;
    overflow: auto;
    color: mediumvioletred;
  }

  .title {
    font-size: 3.5rem;
  }

  .subtitle {
    font-size: 1.7rem;
    font-weight: 300;
  }

  .backBtn {
    padding: 1rem 2rem;
    border-radius: 30px;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #000;
    color: #fff;
    display: inline-block;
    margin-top: 2.5rem;
    cursor: pointer;
  }
</style>
{{end}} {{define "content"}}
<div class="wrapper">
  <article class="content">
    <h1 class="title">{{.Title}}</h1>
    <h2 class="subtitle">{{.Subtitle}}</h2>
    <button type="button" class="backBtn" onclick="window.history.back()">
      Go back
    </button>
  </article>
</div>
{{end}}
