{{define "layout"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{block "title" .}}{{end}}</title>
    <link rel="stylesheet" href="/css/styles.css" />
    {{block "styles" .}}{{end}}
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
      </nav>
    </header>
    <main role="main">
      <div class="notification"></div>
      {{block "content" .}}{{end}}
    </main>
    <footer>&copy; 2024-present</footer>
    <script src="/js/notification.js"></script>
    {{block "scripts" .}}{{end}}
  </body>
</html>
{{end}}
